<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>#hive</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyD3LcH9XyW2jF8Q7UK_HrZMB-lny9jprZY",
    authDomain: "hive-ba59c.firebaseapp.com",
    databaseURL: "https://hive-ba59c.firebaseio.com",
    storageBucket: "hive-ba59c.appspot.com",
    messagingSenderId: "219842833211"
  };
  firebase.initializeApp(config);
</script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">#hive</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Developers</a></li>
                  <li><a href="#">Connect</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div style='display: none' id='sign-up-cover' class="inner cover">
            <h2 class="cover-heading">#hive - You are connected..</h2>
            <p class="lead"><b>#hive</b> is a part of hivelabs.in, Sign up with us and explore the world and rediscover communication</p>
            <p class="lead">
              <a href="#" id= 'sign-up-btn' class="btn btn-lg btn-default">Sign up with Google</a>
            </p>
          </div>
          <div style='display: none' id='welcome-cover' class="inner cover">
            <h2 class="cover-heading">#hive - You are connected..</h2>
            <span id='welcome-lead-img' class="avatar"></span><p id='welcome-lead' class="lead"></p>
            <p class="lead">
              <a href="#" id= 'go-inside' class="btn btn btn-success">Continue</a>
              <a href="#" id= 'sign-out-btn' class="btn btn-warning">Sign Out</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Copyright 2016 <a href="http://www.hivelabs.in">#hive@hivelabs.in</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
     <script src="scripts/main.js"></script>
  </body>
</html>
